{
  "linters": {
    "*.{js,jsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["prettier --write", "tslint --fix", "git add"],
    "*.{css,scss}": ["prettier --write", "stylelint --fix", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
  },
  "ignore": ["package.json", "package-lock.json"]
}
